
@{
    ViewData["Title"] = "Home Page";
}

<h2>Contoso University</h2>
    <img class="imageJumbo" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Zhengzhou_University_Teaching_Area.jpg" alt="contoso university" />

<div class="row">
    <div class="col-md-4">
        <h2>Your Experience</h2>
        <p>
            At Contoso, your educational journey isn’t bound by classroom walls. It spills over and blends with your extracurricular interests, student life activities, and the San Luis Valley community-at-large. We call it The Contoso Experience.
        </p>

        <p>     On paper, it’s a framework for learning that incorporates evidence-based High Impact Practices in what you learn, how you learn, and how your learning is assessed. That means writing-intensive courses, the opportunity to do original research, collaborative and interdisciplinary projects, and bonding experiences with your peers.</p>
        <p>     But it also means discovering off-campus mentors and gaining valuable work experience through internships and volunteer efforts. As a champion of the San Luis Valley, our roots are deeply intertwined with a community that proudly supports our students in return.                                                                   </p>
        <p>     Ultimately, your experience  is neither a single moment, nor a checklist of events. It’s the entirety of your educational journey, a journey that connects what you learn to who you are and have the potential to become.                                                                                                           </p>
    </div>
    <div class="col-md-4">
        <h2>High Impact Practices</h2>
        <p>Evidence-based High Impact Practices are incorporated in what you learn, how you learn and how your learning is assessed.</p>

        <h3>First-Year Seminar</h3>
        <p>First year seminar students pick from a variety of courses centered around a specific academic topic. Through focused exploration of the topic students develop academic curiosity and critical thinking that applies to their entire academic experience..</p>

        <h3>Writing-Intensive Courses</h3>
        <p>These courses emphasize writing at all levels of instruction and across the curriculum. Students are encouraged to produce and revise various forms of writing for different audiences in different disciplines.</p>

        <h3>ePortfolio</h3>
        <p>A digital platform to integrate and showcase all your learning experiences both in and out of the class room as well as on and off campus.</p>

        <h3>Senior Capstone Projects</h3>
        <p>Create a project that integrates and applies what you’ve learned.</p>

        <h3>Theme Based General Education Options</h3>
        <p>Themed general education courses give students the opportunity to explore new interests or focus on existing interest that will carry through later coursework. Current optional general education themes: Crime & Forensics; Health, Sport & Wellness; Latinx Studies.</p>

        <h3>This is just a mock page the infomation was gathered from Adams State University</h3>
        <p><a href="https://www.adams.edu/about/why-adams/">Adams State University Information</a></p>

    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>